<% include ./partials/header %>
<h2 >Current Weather Condition</h2>
<div class="container mt-3">	
<div class="row">
	<div class="col-md-6 col-12">
		<ul class="list-group">
  <li class="list-group-item">Your Address:<span class="ml-2"><%=formattedaddress%></span></li>
    <li class="list-group-item">Temperature:<span class="ml-2"><%=Math.round((temperature-32)/1.8)%>&#730;C</span></li>
  <li class="list-group-item">Apparent Temperature:<span class="ml-2"><%=Math.round((temperature-32)/1.8)%>&#730;C</span></li>

    <li class="list-group-item">Humidity:<span class="ml-2"><%=humidity*100%>&#37;</span></li>
  <li class="list-group-item">Visibility:<span class="ml-2"><%=visibility%></span></li>
  <li class="list-group-item">Summary:<span class="ml-2"><%=weatherSummary%></span></li>
     </ul>
	</div>
	<div class="col-md-6 col-12">
	<div id="map"></div>		
	</div>
</div>
</div>

	

<script>
  function initMap() {
    var lat = <%= lat %>;
    var lng = <%= lng %>;
    var center = {lat: lat, lng: lng }; 
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= formattedaddress %><br/>
      <%= lat %>,<%= lng %></strong>
      `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
     marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
 
  }
 </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoPo7AVWoeYECEWDsGCI1KHwP5qk5d7a8&callback=initMap"></script>
 
 <% include ./partials/footer %>