
<h2>Current Weather Condition</h2>
<h1>{{error}}</h1>
<h4>Your Address:{{formattedaddress}}</h4>
<h4>Temperature:{{temperature}}</h4>
<h4>Apparent Temperature:{{apparentTemperature}}</h4>
<h4>Details:{{weatherSummary}}</h4>
{{!-- <h4>Your Address:{{formattedaddress}}</h4>
<h4>Temperature:{{temperature}}</h4> --}}