<!DOCTYPE html>
	<html>
	<head>
		<title>Result Page</title>
		<meta charset="utf-8">
	</head>
	<body>
		<!-- <p>{{address}}</p>
		<p>{{lat}}</p>
		<p>{{lng}}</p>
		 -->
		 <p>{{error}}</p>
		<h3>Current temperature</h3>
		<p>{{temperature}}</p>
		<h3>Apparent Temperature</h3>
		<p>{{apparentTemperature}}</p>
	</body>
	</html>
